body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 320px;
    height: auto;
    object-fit: contain;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: lightgray;
}